.image-view-wrapper {
  display: flex;
  overflow: auto;
  overflow-x: scroll;
}

.image-view {
  max-width: 200px;
  height: 200px;
  padding: 5px 5px 4px 5px;
  margin-bottom: 2px;
  border: 1px solid #BBB;
}

.image-view label {
  display: inline-block;
  font-size: 0.7rem;
  text-align: center;
  width: calc(200px - 25px);
  margin-bottom: 6px;
  height: 14px;
  cursor: text;
}

.image-view button.remove {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  font-family: monospace;
  margin-left: 5px;
}

.image-view .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: calc(200px - 40px);
}

.image-view + .image-view {
  margin-left: 5px;
}

.image-view canvas {
  transition: transform 0.3s ease-in-out;
  transform: scale(0.666666);
}

.image-view canvas:hover {
  transform: scale(1);
}

.image-view .description {
  font-size: 0.7rem;
  margin-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
