.image-view-wrapper {
  display: flex;
  overflow: auto;
  overflow-x: scroll;
}

.image-view {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  padding: 5px 5px 4px 5px;
  margin-bottom: 2px;
  border: 1px solid #BBB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-view .label-wrapper {
  display: inline-block;
  font-size: 0.7rem;
  text-align: center;
  cursor: text;
}

.image-view .label-wrapper label {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-view button.remove {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  font-family: monospace;
  margin-left: 5px;
}

.image-view .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: calc(200px - 40px);
  width: 100%;
}

.image-view + .image-view {
  margin-left: 5px;
}

.image-view canvas {
  transform: scale(0.5);
  image-rendering: pixelated;
  cursor: pointer;
}

.image-view .description {
  font-size: 0.7rem;
  margin-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.image-view.new-image {
  min-width: 100px;
  width: 100px;
  margin-right: 10px;
}

.image-view.new-image button {
  padding: 5px 10px;
}
