<app-file-dropper
  (imageAdded)="onImageInsert($event)"
  *ngIf="showDropImageOverlay && !error"
></app-file-dropper>
<div class="error-wrapper" *ngIf="error">
  <div class="error-view">
    <h2 class="title">{{ error.message }}</h2>
    <pre class="stack">{{ error.stack }}</pre>
  </div>
</div>
<div class="section-list-wrapper">
  <app-image-list-view (removeImageAction)="onRemoveImageRequest($event)" #imageList></app-image-list-view>
  <app-network-configurator></app-network-configurator>
  <div class="network-control-line">
    <div class="network-actions-wrapper">
      <app-network-actions></app-network-actions>
    </div>
    <div class="network-review-wrapper">
      <app-network-review></app-network-review>
    </div>
  </div>
</div>
