<app-file-dropper
  (imageAdded)="onImageInsert($event)"
  *ngIf="showDropImageOverlay && !error"
></app-file-dropper>
<div class="error-wrapper" *ngIf="error">
  <div class="error-view">
    <h2 class="title">{{ error.message }}</h2>
    <pre class="stack">{{ error.stack }}</pre>
  </div>
</div>
<div class="section-list-wrapper">
  <h1>Visual Feature Detector</h1>
  <app-image-list-view #imageList
    (removeImageAction)="onRemoveImageRequest($event)"
    (selectCanvasAction)="onCanvasSelect($event)"
    (addCanvasAction)="onCanvasAdded($event)"
  ></app-image-list-view>
  <app-network-configurator (configChange)="onConfigChange($event)" [selection]="selection"></app-network-configurator>
  <hr />
  <div class="network-control-line">
    <div class="network-actions-wrapper">
      <app-network-actions></app-network-actions>
    </div>
    <div class="network-review-wrapper">
      <app-network-review [config]="config" [imageList]="canvasList"></app-network-review>
    </div>
  </div>
</div>
