hr {
  margin-right: 10px;
}

.network-actions .action-group + .action-group {
  margin-top: 8px;
}

.network-actions .action-group label {
  display: block;
  margin-bottom: 5px;
}

.network-actions .action-group button + button {
  margin-left: 5px;
}

.input-group {
  display: flex;
  margin: 0px;
  max-width: 100%;
}

.input-group input[type="checkbox"] {
  cursor: pointer;
}

.input-group app-dynamic-input[type="checkbox"] + label {
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-group label {
  font-size: 15px;
  line-height: 20px;
}

button {
  cursor: pointer;
  padding: 4px 10px;
}

.error-group {
  color: #A33;
  font-weight: bold;
}

.progress-list {
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
}

.export-option-list {
  display: flex;
  flex-wrap: wrap;
}

.export-option-list .export-option {
  background-color: #eee;
  border: 1px solid #ddd;
  width: 350px;
  padding: 10px 5px;
  margin: 4px;
  cursor: pointer;
}

.export-option-list .export-option:hover {
  background-color: #ddd;
  border-color: #ccc;
}

.export-option-list .export-option .title {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.export-option-list .export-option .description {
  font-size: 11px;
  line-height: 14px;
  color: #444;
  cursor: pointer;
}
