hr {
  margin-right: 10px;
}

.network-review ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.network-actions .action-group + .action-group {
  margin-top: 8px;
}

.network-actions .action-group label {
  display: block;
}
.network-actions .action-group button + button {
  margin-left: 5px;
}
