<form class="config-group-form config-group-wrapper">
  <div class="config-group">
    <div class="input-group">
      <label>Brush Size (px)</label>
      <app-dynamic-input
        type="number"
        name="brush-size"
        min="1"
        max="1024"
        step="2"
        [startValue]="brushSize"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">How large are your features?</h4>
      <small class="description">The smallest size necessary to detect what you're looking for. The size of the "eye" of the neural network. This is directly correlated to the input size of the solution. If your feature always has the same size you might get away with half the size of your feature.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Brush Spacing (px)</label>
      <app-dynamic-input
        type="number"
        name="brush-spacing"
        min="0"
        max="64"
        step="1"
        [startValue]="brushSpacing"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">How spaced should your inputs be?</h4>
      <small class="description">How insensitive the network is for individual pixels. Spacing decreases the resolution of the input, significantly increasing the efficiency but making it less precise at detecting feature borders.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Brush Shape</label>
      <app-dynamic-input
        type="select"
        name="brush-shape"
        [startValue]="brushShape"
        [options]="
          [
            {value: 'circle', label: 'Circle'},
            {value: 'diamond', label: 'Diamond'},
            {value: 'square', label: 'Square'}
          ]
        "
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">What is the shape of your features?</h4>
      <small class="description">Focuses the network input, removing unnecessary inputs. Diamond shape is good for features with many shapes. Circle is especially good for round features. Square is foolproof and easy to use but it takes more time to evaluate.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Input Format</label>
      <app-dynamic-input
        type="select"
        name="input-format"
        [startValue]="inputFormat"
        [options]="
          [
            {value:'rgb', label: 'RGB'},
            {value:'hsl', label: 'HSL'},
            {value:'grayscale', label: 'Grayscale'},
            {value:'r', label: 'Red Only'},
            {value:'g', label: 'Green Only'},
            {value:'b', label: 'Blue Only'},
            {value:'rg', label: 'Red and Green'},
            {value:'rb', label: 'Red and Blue'}
          ]
        "
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">How many channels are required?</h4>
      <small class="description">Choose which colors may influence the detection of your features. Grayscale mode is only able to detect features by light intensity. HSL mode performs internal conversion from a RGB input.</small>
    </div>
  </div>
  <div class="brush-preview-wrapper">
    <app-brush-visualization
      [brushSize]="brushSize"
      [brushSpacing]="brushSpacing"
      [brushShape]="brushShape"
      [brushFormat]="inputFormat"
      [canvasInput]="selection"
    ></app-brush-visualization>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Feature Complexity</label>
      <app-dynamic-input
        type="select"
        name="hidden-layer-count"
        [startValue]="hiddenLayerCount"
        [options]="
          [
            {value:'0', label: 'Linearly Separable (0 layers)'},
            {value:'1', label: 'Simplest (1 layer)'},
            {value:'2', label: 'Simple (2 layers)'},
            {value:'3', label: 'Average (3 layers)'},
            {value:'4', label: 'Complex (4 layers)'},
            {value:'8', label: 'Deep (8 layers)'},
            {value:'16', label: 'Omniscient (16 layers)'}
          ]
        "
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">How many internal (hidden) layers are necessary?</h4>
      <small class="description">Each layer allows the network to learn an extra linearly separated aspect of the input to detect features. A 3-layer network is able to extract deeper mathematical relationships from the input when compared to a 1-layer network.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Neuron Amount</label>
      <app-dynamic-input
        type="number"
        name="hidden-layer-neuron-count"
        min="1"
        max="1024"
        startValue="8"
        [startValue]="hiddenNeuronCount"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">How many neurons in each internal layer</h4>
      <small class="description">Affects the number of connections between the layers. Too many neurons may cause overfitting, where the network performs well on training data but is bad at generalizing on new images.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Activation Function</label>
      <app-dynamic-input
        type="select"
        name="activation-function"
        [startValue]="activationFunction"
        [options]="
          [
            {value:'sigmoid', label: 'Sigmoid (Typical)'},
            {value:'relu', label: 'Relu (Linear / Faster)'},
            {value:'leaky-relu', label: 'Leaky Relu (No zero-slope)'},
            {value:'tanh', label: 'Tanh (Alternative)'}
          ]
        "
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">The internal activation function between layers</h4>
      <small class="description">The function determines when a collection of neurons activate the next neurons (and output) by normalizing and shaping its aggregated results.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Epochs</label>
      <app-dynamic-input
        type="number"
        name="epoch-count"
        min="1"
        max="10000000"
        [startValue]="epochCount"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">The number of full dataset passes</h4>
      <small class="description">How many times the network will train with the full dataset.  Depends on the complexity of your features. Excessively large values will most definitely cause overfitting.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Feature Dataset Percent</label>
      <app-dynamic-input
        type="number"
        name="feature-dataset-percent"
        min="1"
        max="100"
        [startValue]="featureDatasetPercent"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">The percent of dataset to include in the training</h4>
      <small class="description">Each data unit is a single pixel surrounded by its neighbors according to your brush pixels, this means that every feature pixel is a dataset. This percent value (between 1 and 100) allow you to partially control the dataset size.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Non-Feature Percent</label>
      <app-dynamic-input
        type="number"
        name="non-feature-percent"
        min="0"
        max="10000"
        [startValue]="nonFeaturePercent"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">The percent of non-features in the dataset</h4>
      <small class="description">This value allows you to control your network ability to detect areas that are not marked as features by setting aside a percent of the dataset that won't contain a feature so that the network can learn that some pixels are uninteresting.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Validation Percent</label>
      <app-dynamic-input
        type="number"
        name="validation-percent"
        min="0"
        max="99"
        [startValue]="validationPercent"
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">The dataset slice that will be used for validation</h4>
      <small class="description">The value of randomly-extracted percent of the dataset that will not be included in training which will be used exclusively to test the performance of the network so that you can accurately measure how capable the network is in generalizing as opposed to memorizing the inputs (overfitting). Ideal values range between 10% and 50%.</small>
    </div>
  </div>
  <div class="config-group">
    <div class="input-group">
      <label>Distribute Features</label>
      <app-dynamic-input
        type="select"
        name="distributed-features"
        [startValue]="distributedFeatures"
        [options]="
          [
            {value: 'no-redistribution', label: 'No redistribution'},
            {value: 'distribute-features', label: 'Distribute features equally'},
            {value: 'distribute-all', label: 'Distribute features and non-features'}
          ]
        "
        (inputChange)="onInputChange($event.name, $event.value)"
      ></app-dynamic-input>
    </div>
    <div class="explanation">
      <h4 class="title">Which kind of redistribution  shall take place?</h4>
      <small class="description">The network will always bias toward the most frequently found feature in the training set. If you have a distribution like 30% and 70% then enabling redistribution will remove 40% of the second feature, leaving 30% and 30%. In other words every feature gets limited (cut down) to the smallest distribution feature count. Select "no redistribution" to disable.</small>
    </div>
  </div>
  <div class="config-group full-width" *ngIf="outputList">
    <div class="input-group">
      <label>Annotations to include as network output</label>
      <div class="output-list-wrapper">
        <div class="output-unit" *ngFor="let output of outputList; index as index">
          <input type="checkbox" [name]="output.label" [checked]="output.include" (click)="onAnnotationIncludeClick($event.target, index)" />
          <label (click)="$event.target.parentNode.querySelector('input').click()">{{ output.label }}</label>
        </div>
      </div>
    </div>
  </div>
</form>
