html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 0.4px;
}

.hidden {
  display: none;
}

.mobile-only {
  display: inherit;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 499px) {
    .mobile-only {
      display: none;
    }

    .desktop-only {
      display: inherit;
    }
}
